<!DOCTYPE html>
<html>
<head>
	<!-- link to cascading style sheet -->
    <link rel="stylesheet" href="../static/styles.css" type="text/css">
	<title>About</title>
</head>
<body>
     <h1>About the Family</h1>
	<!-- links to other pages -->
	 <a href="home">Home</a>
     <a href="recipes">Recipes</a>
     <a href="account">Account</a>
     <a href="logout">Logout</a> 

     <p>The date and time is: {{date_time}}</p>

     <img src="../static/TylerNixUnsplash.jpg">
     <p>^Photo by Tyler Nix on Unsplash</p>


     <img src="../static/TimonStudlerUnsplash.jpg">
     <p>^Photo by Timon Studler on Unsplash</p>
     

     <img src="../static/TobiasMrzykUnsplash.jpg">
     <p>^Photo by Tobias Mrzyk on Unsplash</p>
     
     <img src="../static/ChangDuongUnsplash.jpg">
     <p>^Photo by Chang Duong on Unsplash</p>


</body>
</html>