<!DOCTYPE html>
<html>
<head>
     <title>Recipes</title>
    
     <!-- you have to put the path for css to work.-->
     <!--<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename ='styles.css') }}">  this may work later-->
     <link rel="stylesheet" href="../static/styles.css" type="text/css">
</head>
<body>
	<h1>Recipes</h1>
	<!-- links to other pages -->
	 <a href="home">Home</a>
     <a href="about">about</a>
     <a href="account">Account</a>  
     <a href="logout">Logout</a> 
	
	<!-- Unordered list of recipes -->
	<h2>
	  <ul>
		<li><a href="https://www.allrecipes.com/recipe/23600/worlds-best-lasagna/">Lasagna</a></li>
	  	<li><a href="https://www.youtube.com/watch?time_continue=3&v=YxVZuuxxXxk&feature=emb_logo">Macaroni & Cheese</a></li>
	  	<li><a href="https://www.foodnetwork.com/recipes/food-network-kitchen/cheesy-cheeseburgers-recipe-2111823">Cheese Burger</a></li>
		<!-- <li><a href="../../recipes/mamas_pizza.html">Mama's Pizza</a></li>
		<li><a href="../recipes/chocolate_chip.html">Chocolate Chip Cookies</a></li>  -->
		<li>Brownies*</li>
	  </ul>
	</h2>

	<!-- Ordered list of instructions on how to make brownies -->
	<div><h3>*How to make brownies:</h3>
	  <ol>
		    <li>Have Ruth make them; she does it the best. If she can't see the next step.</li>
		    <li>Purchase two boxes of Betty Crocker Fudge Brownies.</li>
		    <li>Yes, seriously Betty Crocker has it perfect. Trust me, from scratch isn't worth it.</li>
		    <li>You'll also need eggs and vegetable oil and whatever it says on the box. I can't remember anymore.</li>
		    <li>Yes, get the super "unhealthy" oil. If someone tries to give you "healthy" brownies, RUN AWAY!</li>
		    <li>Follow the instructions on the box! This is baking not cooking.</li>
		    <li>Yes, butter the pan.</li>
		    <li>Stir the ingredients as little as possible to mix everything together. Do not whip it; you will make cake. </li>
		    <li>The bake timing is always wrong, so start low and you can always keep in the oven a LITTLE longer.</li>
		    <li>When the brownies are done in the oven, they should look well cooked on the edges, not burnt, and use a toothpick to check the middle. 
		        It's alright if there is a little brownie on the toothpick. You're not making cake, but lets face it you probably made cake.</li>
		    <li>Let the brownies cool for at least 20 minutes. I know they smell amazing, but you will burn your tongue and make a huge sticky mess if you do not wait.</li>
		    <li>Ok, now you can eat them, but it's best served with Turkey Hill Mint Chocolate Chip Ice Cream.</li>
			    <li>No, the whole pan is not for you. Sharing with family and friends is required.</li>
	  </ol>
	  </div>
<table> <!--  cellpadding="10" border="1" width: 40%>--> 
	<tr>
	  <th>INGREDIENT</th>
	  <th>AMOUNT</th>
	  <th>SUBSTITUTION</th>
	</tr>
	<tr>
	  <td>Butter</td>
	  <td>1 cup</td>
	  <td>
	    <ul>
	      <li>2/3 cup of applesauce</li>
	      <li>1 cup bean or pumpkin puree</li>
	    </ul>
	  </td>
	</tr>
	<tr>
	  <td>Egg</td>
	  <td>1 Large</td>
	  <td><ul><li>1/4 cup applesauce</li></ul></td>
	</tr>
	<tr>
	  <td>Buttermilk</td>
	  <td>1 cup</td>
	  <td>
		<ul>
		  <li>1 tablespoon lemon juice or vinegar with enough milk to make 1 cup  </li>
		  <li>1 cup plain yogurt  </li>
		</ul>
	  </td>
	</tr>
  </table>	
	
</body>
</html>