<!DOCTYPE html>
<html>
<head>
	<!-- link to cascading style sheet -->
    <link rel="stylesheet" href="../static/styles.css" type="text/css">

<title>Reset Password</title>
</head>
<body>
	<h1>Reset Password</h1>
	<!-- links to other pages -->
     <a href="home">Home</a> 
     <a href="about">About</a> 
     <a href="recipes">Recipes</a> 
     <a href="logout">Logout</a>

     
    <!-- may need to set action="" to post to the same route are currently on -->
    <form action="/reset_password" method="POST"> 
      <br>
      <div>
        <label for="password">Current Password</label>
        <input type="password" name="password">
      </div>
      <br><br>
      <div>
        <label for="password">New Password</label>
        <input type="password" name="new_password">
      </div>
      <br>
      <div>
        <label for="password">Re-enter Password</label>
        <input type="password" name="repassword">
      </div>
      <br>
      <div>
        <input type="submit" class="submit" value="Reset Password">
      </div>
      <br>
    </form>
	 {% if error %}
        <p class="error"><strong>Error:</strong> {{ error }}
     {% endif %}
</body>
</html>